  <img src='/static/images/loading.gif' class="loader">
  
  <script type="text/ng-template" id="myModalContent.html">

        <div class="modal-header">
        	
           <p id="pAlert"> <span style="font-size:1.5em;" id="spanTag" class="glyphicon glyphicon-tags"> </span> <h3 class="modal-title"> Channel Tags </h3> </p>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="tag in tags">
                    [[ tag ]]
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button id="btnAlert" class="btn" ng-click="cancel()">Ok</button>
        </div>
    </script>

  <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Stream classification</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/#/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#/info">Info</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="/#/set">Set</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="/#/classificationRelevant">Classification Relevant</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#/metrics">Metrics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#/matrix">Confusion Matrix</a>
    </li>
  </ul>

   <div class="navContainer">
    <form class="navbar-search ">
      <select id="selectSearch" ng-options="number as number for number in numbers" ng-model="searchNumber" class="form-control"  >  
        <option style="display:none" value="">Seleziona un numero</option>
      </select>
    </form> 
    <button  id="btnSearch" ng-click="showNUmber()" type="submit" class="btn btn-warning "> 
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </div>
</nav>

<table class="table table-striped header-fixed">
	<thead>
		<tr >
			<th class="tName"> Channel Name </th>
			<th class="tDescription"> Channel Description </th>
			<th class="tField"> Field Name </th>
			<th class="tTag"> Tags </th>
			<th class="tClass"> Field Class </th>
			<th class="tAttributed"> Assigned Class </th>
			<th class="tDistance"> Distance </th>
		</tr>
	</thead>
	<tbody>
		<tr id="tr[[ field.field_id ]]" ng-repeat="field in fields | limitTo:totalDisplayed" ng-style="rowStyle">
			<td class="tName"> [[ field.channel_name ]]</td>
			<td class="tDescription"> [[ field.channel_description ]]</td>
			<td class="tField"> [[ field.field_name ]]</td>
			<td class="tTag"> <span id="spanGly" class="glyphicon glyphicon-tags" ng-click="open([[ field.channel_id]],[[ field.field_id ]])"></span> </td>
			<td class="tClass"> [[ field.field_class ]] </td>
			<td class="tAttributed">  [[ field.attributed_class ]]</td>
			<td class="tDistance">  [[ field.distance ]] </td>
		</tr>
	</tbody>

</table>
<button id="btnLoad" class="btn btn-success btn-circle" ng-click="loadMore()">
<span class="glyphicon glyphicon-plus"></span>
</button>
